.separation{
    display: flex;
    width: 100vw;
    *margin-bottom: 5%;
    *margin-top: 20%;
    align-items: center;
    height: 100vh;
    
    
}

#separatione{
    display: flex;
    justify-content: center;
    *align-items: center;
    height: auto;

}

#separador{
    width: 100%;
    position: relative;
    height: 100vh;
}

.separation #separadorh2{
    position: absolute;
    *left: 57%;
    margin-top: 0;
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 3px -3px 3px black;
    font-family: 'Courier New', Courier, monospace;

    
}

.button-cafeteria{
    position: absolute;
    margin-top: 15%;
    *margin-left: 60%;
    font-size: 20px;
    width: max-content;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    background: linear-gradient(90deg, rgba(255, 251, 7, 0.628), rgba(255, 251, 7, 0.628));
    cursor: pointer;
    transition: 0.4s;
}

.button-cafeteria:hover{
    transform: scale(105%);
    
}

@media(max-width: 768px){



    #separador{
        border-radius: 0;
    }

#separatione{
    display: flex;
    justify-content: center;
    *align-items: center;
    height: auto;
}
.separation #separadorh2{
    font-size: 35px;
    *left: 5%;
    justify-content: center;
    margin-top: 0;
    
}

    .button-cafeteria{
        margin-top: 25%;
        *margin-left: 60%;
        font-size: 15px;
        text-shadow: 1px 1px 1px black;
    }


}


